/* body { */
/* background: linear-gradient(to right,rgb(2, 2, 29),black 60%); */
/* } */
.Projects-encloser1 {
  width: auto;
  height: auto;
  /* border: 2px solid black; */
  box-sizing: border-box;
  /* background-image: url("https://i0.wp.com/wallpapercave.com/wp/wp3493599.jpg?ssl=1"); */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(2, 21, 48), rgb(0, 0, 0));
  padding-bottom: 2%;
}
.Projects-heading {
  color: white;
  /* border: 2px solid white; */
  font-size: max(5vw, 30px);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background: linear-gradient(to right,black 50%,blue); */
  text-align: center;
}
.Projects-encloser2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(192, 17, 17); */
  box-sizing: border-box;
}

.Projects-Card {
  /* display: flex; */
  /* align-items: center; */
  margin-top: 20px;
  background: radial-gradient(rgb(2, 21, 48), #5a72a0);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 1rem;
}
.Photo {
  background-image: url("https://i0.wp.com/wallpapercave.com/wp/wp3493599.jpg?ssl=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  /* margin-right: 30px; */
}
/* .Info {
  width: 250%;
} */
.Info h2 {
  text-align: center;
  margin-bottom: 20px;
}
.Info p {
  text-align: center;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(2, 21, 48);
  border: none;
  border-radius: 15px;
  /* box-shadow: 0 9px #999; */
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(2, 21, 48);
  border: 1px solid white;
}

.button:active {
  background-color: rgb(2, 21, 48);
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

@media screen and (min-width: 1000px) {
  .Projects-Card {
    display: flex;
    /* align-items: center; */
    margin-top: 20px;
    background: radial-gradient(rgb(2, 21, 48), #1a2130);
    color: white;
    padding: 20px;
    border-radius: 10px;
    animation: glow 2s infinite alternate;
  }

  .Photo {
    width: 100%;
    margin-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .Projects-Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: radial-gradient(rgb(2, 21, 48), #1a2130);
    color: white;
    padding: 20px;
    border-radius: 10px;
    animation: glow 2s infinite alternate;
  }

  .Photo {
    /* background-image: url("https://i0.wp.com/wallpapercave.com/wp/wp3493599.jpg?ssl=1"); */
    background-size: cover;
    width: 50%;
    height: 200px;
    /* margin-right: 30px; */
    margin-bottom: 20px;
  }

  .Info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes glow {
  0% {
    /* opacity: 1; */
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 5px rgba(0, 255, 255, 0.7),
      0 0 5px rgba(0, 255, 255, 0.7), 0 0 5px rgba(0, 255, 255, 0.7);
  }
  100% {
    /* opacity: 0.5; */
    box-shadow: 0 0 10px rgba(0, 89, 255, 0.7), 0 0 10px rgba(8, 0, 255, 0.7),
      0 0 10px rgba(0, 4, 255, 0.7), 0 0 10px rgba(0, 8, 255, 0.7);
  }
}
